body{
    text-align: center;
    height: fit-content;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.mainBanner { 
    width: 100vw;
    height: 110vh;
    background-color: rgb(9, 9, 44);
    background-image: URL("https://images.unsplash.com/photo-1475483768296-6163e08872a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2940&q=80");
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}
.bannerContent { 
    width: 90%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    justify-content: center;
}
.bannerMainTitle { 
    font-size: 4rem;
    font-weight: 900;
    color: orange;
}
.bannerMainTxt { 
    font-size: 1.1rem;
    font-weight: 100;
    color: orange;
    margin-top: 50px;
    margin-bottom: 20px;
}
.bannerBtn { 
    width: 200px;
    height: 60px;
    background-color: rgb(255, 198, 92);
    color:rgb(0, 0, 70);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.bannerBtn:hover { 
    background-color: rgba(255, 72, 0, 0.952);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.plans { 
    width: 90%;
    height: fit-content;
    background: transparent;
    transform: translateY(-100px);
    margin: auto;
}
.plan { 
    background-color: rgba(233, 233, 233, 0.589);
    height: fit-content;
    border-radius: 15px;
    background-color: #eee;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    color: rgb(255, 174, 23);
    margin-bottom: 10px;
}
.plan h2 { 
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 30px;
}
.plan p { 
    color: black;
    line-height: 2rem;
    margin: 0 20px;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.whereToGo { 
    max-width: 90%;
    height: fit-content;
    background-color: #aaa;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    margin-top: 50px;
    padding-bottom: 30px;
}
.whereToGoLeft { 
    min-width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto 0 auto 40px;
    background-size: cover;
    background-position: center;
    display: none;
}
.whereToGoRight { 
    max-width: 90%;
    height: 100%;
    margin: 10px auto;
    padding: 40px 5px;
    display: flex;
    flex-flow: column;
    text-align: center;
}
.whereToGoRight h2 { 
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px 20px rgba(128, 128, 128, 0.856);
    margin: 30px 0 25px;;
    word-wrap: break-word;
}
.whereToGoRight p { 
    line-height: 2rem;
}
.whereToGoTxt { 
    width: 95%;
}

.TourSelectBtn1 { 
    min-width: 200px;
    /* height: 60px; */
    background-color: rgb(255, 218, 149);
    color:rgb(0, 0, 70);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    margin: 10px 5px;
}


.TourSelectBtn2 { 
    min-width: 200px;
    /* height: 60px; */
    background-color: rgb(255, 198, 92);
    color:rgb(0, 0, 70);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    margin: 10px 5px;
}

.TourSelectBtn3 { 
    min-width: 200px;
    /* height: 60px; */
    background-color: rgb(255, 170, 11);
    color:rgb(0, 0, 70);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    margin: 10px 5px;
}

.TourSelectBtn1:hover { 
    background-color: rgba(255, 72, 0, 0.952);
}
.TourSelectBtn2:hover { 
    background-color: rgba(255, 72, 0, 0.952);
}
.TourSelectBtn3:hover { 
    background-color: rgba(255, 72, 0, 0.952);
}

.secondQ { 
    width: 200px;
    color:rgb(0, 0, 70);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;
    transition: all 0.5s ease;
}
.secondQ:hover { 
    background-color: rgb(202, 224, 2);
}
.secondQ0 {
    display: none;
    width: 70px;
}
.secondQ1 { 
    display: none;
    background-color: rgb(214, 255, 149);
}
.secondQ2 { 
    display: none;
    background-color: rgb(156, 194, 96);
}
.secondQ3 { 
    display: none;
    background-color: rgb(81, 119, 18);
}

.finalPlans { 
    padding : 10px 30px;
    margin-top: 10px;
    transform: translateY(-30px);
    display: none;
}
.placeToGo { 
    color: rgba(231, 66, 0, 0.952);
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
}
.planTime {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 600;
    margin: 0;
}
.planPrice1{
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0;
    font-weight: 600;
}
.planPrice2{
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0;
    font-weight: 600;
}
.planDesc { 
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 600;
    width: 90%;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.planFinalBtn { 
    width: 120px;
    height: 50px;
    background-color: rgb(255, 170, 11);
    color:rgb(0, 0, 70);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    padding: 8px;
    margin: 10px;
    box-sizing: border-box;
    transition: all 0.5s ease;
}
.planFinalBtn:hover { 
    background-color: rgba(255, 72, 0, 0.952);
}
.planBackBtn { 
    width: 120px;
    height: 50px;
    background-color: rgb(255, 170, 11);
    color:rgb(0, 0, 70);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    padding: 8px;
    margin: 10px;
    box-sizing: border-box;
    transition: all 0.5s ease;
}
.planBackBtn:hover { 
    background-color: rgba(255, 72, 0, 0.952);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.investorTitle {
    width: 95%;
    font-size: 2.5rem;
    font-weight: 200;
    margin: 170px auto 0;
    text-align: center;
}
.investors{
    max-width: 90%;
    overflow-x: scroll;
    height: 120px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap:nowrap;
}
.investor { 
    min-width: 80px;
    margin: 20px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.testimonials { 
    max-width: 90%;
    height: fit-content;
    background-color: rgba(146, 83, 0, 0.452);
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    margin-top: 130px;
}
.testimonialBox { 
    width: 95%;
    text-align: center;
    padding: 30px;
}
.testimonialBox img { 
    margin-bottom: 40px;
}
.testimonialBox h3 { 
    margin-bottom: 40px;
}
.testimonialBox p { 
    width: 75%;
    margin: auto;
    line-height: 2rem;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.signIn { 
    width: 95%;
    height: 500px;
    min-height: 500px;
    background-color: white;
    margin: 100px auto;
}
.signBox { 
    height: 500px;
    border: 1px solid #ccc;
    margin: 10px 5px;
    border-radius: 15px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.signInTitle { 
    font-weight: 300;
    font-size: 2rem;
    color: rgb(65, 65, 65);
}
.signInForm { 
    margin-top: 70px;
    display: block;
}
.signInForm label { 
    font-weight: 300;
}
.signInForm input { 
    width: 80%;
    margin: 10px;
    height: 2.5rem;
    padding: 0 15px;
}
.signInBtn { 
    width: 200px;
    height: 60px;
    background-color: rgb(255, 198, 92);
    color:rgb(0, 0, 70);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    font-weight: 500;
    margin-top: 30px;
    transition: all 0.5s ease;
}
.signInBtn:hover { 
    background-color: rgba(255, 72, 0, 0.952);
}
.signInForm p { 
    font-size: 0.9rem;
    font-weight: 200;
    margin-top: 30px;
}

.signUpForm { 
    margin-top: 70px;
    display: block;
}
.signUpForm label { 
    font-weight: 300;
}
.signUpForm input { 
    width: 80%;
    margin: 10px;
    height: 2.5rem;
    padding: 0 15px;
}

.signInComplete { 
    display: none;
}
.signUpComplete { 
    display: none;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.footer {
    width: 100vw;
    height: 8rem;
    background-color: rgb(233, 227, 220);
}
.footerItems { 
    display: flex;
    flex-direction: row;
    line-height: 3rem;
}
.footerLeftListUl {
    margin-left: 0;
    padding: 0;
    display: none;
    flex-direction: row;
    width: fit-content;
}
.footerLeftListLi { 
    list-style: none;
    line-height: 3rem;
    justify-content: center;
    margin: 0 20px;
}


@media screen and (min-width: 1000px) { 
    .whereToGoLeft { 
        display : block;
    }
    .bannerMainTitle { 
        font-size: 7rem;
        font-weight: 900;
        color: orange;
    }
    .whereToGo { 
        width: 70%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .whereToGoRight { 
        padding-right: 10px;
    }
    .whereToGoTxt { 
        width: 75%;
        margin: auto;
        justify-content: center;
        margin-bottom: 30px;
    }
    .testimonials { 
        max-width: 70%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .investors{
        max-width: 70%;
    }
    .planDesc { 
        width: 60%;
    }
}